.info {
  .image-wraper {
    max-width: 536px;
    max-height: 425px;
  }
  img {
    @include media-breakpoint-up(lg){
      max-width: 80%;
    }
  }
  p {
    @include media-breakpoint-up(xl){
      @include font-size(19px);
    }
  }
  a {
    width: fit-content;
  }
}
