.section-popular-services, .section-find-services, .section-recent-users, .section-search-users {
  .image-wrapper {
    height: 208px;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 44px;
    margin-right: -20px;
    margin-left: -20px;
    &::after {
      font-size: 16px;
      font-weight: bold;
      color: $primary;
    }
  }
  .swiper-button-next-search-users, .swiper-button-prev-search-users {
    top: 67%;
  }
  .swiper-button-disabled {
    display: none !important;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: $border-gray;
      border: none;
    }
    .swiper-pagination-bullet-active {
      background-color: $secondary;
    }
  }
}