header {
  position: relative;
  background-color: $primary;
  color: $white;

  .custom-logo {
    max-width: 58px;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;

    li {
      padding-right: 24px;
    }

    a {
      color: $white;
    }
  }
}

#site-navigation {
  #primary-menu-container {

    ul.menu,
    ul.sub-menu {
      list-style: none;
      margin-bottom: 0;

      li.menu-item:not(.btn-menu) {

        @include media-breakpoint-up(lg) {
          &:last-child {
            border-left: 1px solid $white;
            @include padding-left(24px);
          }
        }

        &.current-menu-item {
          >a {
            color: $white;
          }
        }

        >a {
          @include font-size(16px);
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $white;

          i,
          i svg path {
            transition: $transition-default;
          }

          &.active {
            i {
              transform: rotate(180deg);
            }
          }
        }
      }

      li.menu-item-has-children {
        position: relative;

        ul {
          padding-left: 5px;
        }
      }
    }

    ul.menu {
      padding-left: 0;

      >li.menu-item-has-children {
        >ul.sub-menu {
          li.menu-item {
            a {
              @include padding(5px 0);
            }
          }
        }
      }
    }

    ul.sub-menu {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    .container-fluid {
      flex-direction: column;
    }

    .nav-logo-btn-wrapper {
      justify-content: space-between;
    }

    #primary-menu-container {
      display: none;
      @include padding-top(10px);
      @include padding-bottom(10px);

      ul.menu,
      ul.sub-menu {
        li.menu-item:not(.btn-menu) {
          a {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      ul.menu {
        >li.menu-item:not(.btn-menu) {
          >a {
            i {
              svg {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {

    // top: 40px;
    .container-fluid {
      align-items: center;
    }

    .navbar-toggler {
      display: none;
    }

    #primary-menu-container {
      ul.sub-menu {
        li.menu-item:not(.btn-menu) {
          a {

            &:hover,
            &:active,
            &:focus {
              color: $secondary;
            }
          }

          &.current-menu-item {
            a {
              color: $secondary;
            }
          }
        }
      }

      ul.menu {
        >li.menu-item:not(.btn-menu) {
          >a {
            display: flex;
            color: $white;
            transition: color $time $ease, background-color $time $ease, min-height $time $ease;

            &:hover,
            &:active,
            &.active,
            &:focus {
              color: $secondary;
              // background-color: $primary;

              svg path {
                fill: $primary;
              }
            }
          }
        }

        >li.menu-item-has-children {
          >ul.sub-menu {
            position: absolute;
            left: 0;
            top: 100px;
            width: 100%;
            min-width: 240px;
            @include padding(0 15px 10px);
            z-index: 1;
            background: $secondary;
            border-bottom-right-radius: 30px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  nav.scroll-active {
    #primary-menu-container {
      ul.menu {
        >li.menu-item:not(.btn-menu) {
          >a {
            min-height: 70px !important;
          }
        }

        >li.menu-item-has-children {
          >ul.sub-menu {
            top: 70px !important;
          }
        }
      }
    }
  }
}

.header-form {
  background-color: $primary;
  color: $white;

  h1 {
    color: $white;
    @include font-size(24px);
  }

  svg {
    margin-right: 8px;
    margin-top: -3px;
  }

  .col-8 {
    margin-right: 1px;
  }

  .search-form {
    select {
      border: none;
      margin-left: -5px;
      @include font-size(16px);
      color: $secondary;
      font-weight: bold;
      width: fit-content;
    }

    .search-field {
      border-radius: 8px 0 0 8px;
    }

    .search-submit {
      border-radius: 0 8px 8px 0;
      @include font-size(16px)
    }

    .col-6 {
      background-color: $white;
    }

    .city-label {
      color: $black;
      align-items: center;
      padding-top: 13px;
      padding-left: 24px;
      font-weight: bold;
    }
  }
}